if jquery
	script(src=`${Url}${jquery_link}`)
    
if modernizr
	script(src=`${Url}${modernizr_link}`)
	
if popperjs
	script(src=`${Url}js/popper.min.js`)

if bootstrap
	script(src=`${Url}js/bootstrap.min.js`)

if swiperjs
	script(src=`${Url}js/swiper.min.js`)

if fancyboxjs
	script(src=`${Url}js/fancybox.min.js`)

if moment
	script(src=`${Url}js/moment.min.js`)

if daterangepicker
	script(src=`${Url}js/daterangepicker.min.js`)

if mainjs
	script(src=`${Url}js/main.js`)

if swiperbundlejs
	script(src=`${Url}js/swiper-bundle.min.js`)