if jquery
	script(src=`${Url}${jquery_link}`)
    
if modernizr
	script(src=`${Url}${modernizr_link}`)

if mainjs
	script(src=`${Url}js/main.js`)

if scrolllockjs
	script(src=`${Url}js/scroll.lock.js`)

if swiperjs
	script(src=`${Url}js/swiper.min.js`)

if fancyboxjs
	script(src=`${Url}js/fancybox.min.js`)

if introjs
	script(src=`${Url}js/intro.min.js`)

if nouislider
	script(src=`${Url}js/nouislider.min.js`)

if wnumb
	script(src=`${Url}js/wnumb.min.js`)