block home

- var product = []
- product.push({"class":"","name":"Vòng Đeo Tay Thông Minh Theo Dõi Vận Động Xiaomi Mi Band 3 - Hàng Chính Hãng"})
- product.push({"class":"","name":"Tivi LED Sony"})
- product.push({"class":"","name":"Tivi LED Sony 32 inch KDL-32R300E"})

- var rating = []
- rating.push({"name":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"})
- rating.push({"name":"Nội dung bình luận"})
- rating.push({"name":"Nội dung bình luận"})

.module-toast.is-show
	.toast-container
		i.icn.icn-check-small
		span Đặt hàng thành công

.feature-dockbar
	.context-feature-dockbar
		nav.breadcrumb
			ol
				li.breadcrumb-item
					a(href="index.html")
						i.icn.icn-home
				li.breadcrumb-item
					a(href="category_subcate_level3.html")
						span.text-truncate Điện thoại & di động
				li.breadcrumb-item.active(aria-current="page")
					a(href="javascript:void(0);")
						span.text-truncate Điện thoại & di động
		a.func-search(href="search.html")
			i.icn.icn-search
		a.func-cart(href="cart.html")
			i.icn.icn-shopping-cart
			span.num 1
		a.func-share(href="#!share")
			i.icn.icn-share
	.trans-feature-dockbar

.bl-module.module-product-detail.transparent.m-bottom-2
	.img-product
		.label-discount.is-large
			span.color-light.fs--xl.fw-bold 20%
		span.out-of-stock Tạm hết
		.swiper-container.swiper-img
			.swiper-wrapper
				.swiper-slide
					.item-img(data-fancybox="gallery" href="http://via.placeholder.com/500x500" style="background-image:url(http://via.placeholder.com/500x500)")
				.swiper-slide
					.item-img(data-fancybox="gallery" href="http://via.placeholder.com/500x500" style="background-image:url(http://via.placeholder.com/500x500)")
		.swiper-pagination#img-pagination
	.desc-product.m-bottom-2
		.d-flex.justify-content-between.m-bottom-3
			.group-price
				span.d-block.color-base.fs--xxl.fw-bold 27.000đ
				span.d-block.color-grey.fs--m.line-through 100.000đ
			.group-rating
				.rating-star.m-right-2
					i.icn.icn-shape-star.active
					i.icn.icn-shape-star.active
					i.icn.icn-shape-star.active
					i.icn.icn-shape-star.active
					i.icn.icn-shape-star
				span.num.color-base.fs--s 4.8
		h1.color-base.fs--m.fw-normal CARPRIE Quiet 120mm DC 12V 3 4pin LED Effects Clear Computer Case Cooling Fan
		hr.divider
		.d-flex.justify-content-between
			.group-var
				span.d-block.color-base.fs--l Thuộc tính
				span.d-block.color-grey.fs--s Hồng, 32GB
			a.color-main.fs--l(href="javascript:void(0);" data-toggle="modal" data-target="#modal-var") Lựa chọn
	.bl-module.module-store.m-bottom-2
		.context-store
			.avatar.avatar--m
				.avatar-img(style="background-image:url(http://via.placeholder.com/150x150)")
			.desc
				h2.color-base.fs--l.fw-medium OA name
				p.color-grey.fs--s <i class="i-status is-online"></i> Shop đang online
			.func-wrap
				a.func-follow(href="javascript:void(0);" data-toggle="modal" data-target="#modal-follow") <i class="icn icn-bold-add"></i><span class="color-base fs--s">Theo dõi</span>
				a.func-follow.disabled(href="#!") <i class="icn icn-check-small"></i><span class="color-light fs--s">Đã theo dõi</span>
		a.color-main.fs--m.fw-medium.func-store(href="#!") Vào cửa hàng
	.bl-module.module-store-tabs
		ul
			li.tab
				a.fs--m(href="#d-product") Sản phẩm
			li.tab
				a.fs--m(href="#d-shipping") Giao hàng
			li.tab.active
				a.fs--m(href="#d-rating") Đánh giá
	.tab-content
		#d-product(style="display:none")
			.body-text
				h1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				h6 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				img(src="http://via.placeholder.com/1150x550" alt=page) 
				address Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				header Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				section Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				strong Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				b Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				u Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				i Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				em Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				q Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				span Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				mark Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				ul
					li Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					li Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				ol
					li Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				dl
					dt Coffee
					dd Black hot drink
					dt Milk
					dd White cold drink
				table
					thead
						tr
							th Lorem Ipsum 
							th Lorem Ipsum
							th Lorem Ipsum
					tbody
						tr
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						tr
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
							td Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				p <a href="javascript:void(0)" onclick="showFullDetail();">Xem thêm<i class="icn icn-small-right"></i></a>
		#d-shipping(style="display:none")
			.body-text
				p Shipping
		#d-rating
			.body-rating
				.alert-non-result
					p Không có đánh giá nào
				ul.rating-list
					each ratingItem in rating
						li
							.item-rating
								.rating-star.m-bottom-2
									i.icn.icn-shape-star.active
									i.icn.icn-shape-star.active
									i.icn.icn-shape-star.active
									i.icn.icn-shape-star.active
									i.icn.icn-shape-star
								.d-flex.justify-content-between.m-bottom-2
									span.color-base.fs--m Trần Đỗ Cẩm Vân
									span.color-grey.fs--m Date
								.quote-tag.m-bottom-2
									span.color-base.fs--m Màu sắc: Hồng,  Dung lượng: 32GB
								p.color-base.fs--m.text-break #{ratingItem.name}
				a.color-main.fs--m.fw-medium.func-more(href="product_detail_rating.html") Xem tất cả

.bl-module.module-grid-list.m-bottom-3
	.heading
		span.fs--l.fw-medium Sản phẩm cùng cửa hàng
	ul.product-list.is-column
		li
			.item-product
				span.img-loader
				.desc-loader
					span
					span
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
						span.out-of-stock Tạm hết
					.desc
						h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 #{productItem.name}
						p.color-base.fs--xl.fw-bold 500.000đ
						p.color-grey.fs--m.line-through 41.000đ
						.star-orders.d-flex.m-top-2
							.rating-star.m-right-2
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star
							span.num.color-base.fs--s (4.8)
.bl-module.module-grid-list.m-bottom-3
	.heading
		span.fs--l.fw-medium Sản phẩm nổi bật
	ul.product-list.is-column
		li
			.item-product
				span.img-loader
				.desc-loader
					span
					span
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
						span.out-of-stock Tạm hết
					.desc
						h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 #{productItem.name}
						p.color-base.fs--xl.fw-bold 500.000đ
						p.color-grey.fs--m.line-through 41.000đ
						.star-orders.d-flex.m-top-2
							.rating-star.m-right-2
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star
							span.num.color-base.fs--s (4.8)
.bl-module.module-grid-list.m-bottom-3
	.heading
		span.fs--l.fw-medium Sản phẩm tài trợ
	ul.product-list.is-column
		li
			.item-product
				span.img-loader
				.desc-loader
					span
					span
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
						span.out-of-stock Tạm hết
					.desc
						h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 #{productItem.name}
						p.color-base.fs--xl.fw-bold 500.000đ
						p.color-grey.fs--m.line-through 41.000đ
						.star-orders.d-flex.m-top-2
							.rating-star.m-right-2
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star
							span.num.color-base.fs--s (4.8)
.bl-module.module-grid-list.m-bottom-3
	.heading
		span.fs--l.fw-medium Sản phẩm cùng danh mục
	ul.product-list.is-column
		li
			.item-product
				span.img-loader
				.desc-loader
					span
					span
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
						span.out-of-stock Tạm hết
					.desc
						h2.product-title.color-base.fs--m.fw-normal.m-bottom-1 #{productItem.name}
						p.color-base.fs--xl.fw-bold 500.000đ
						p.color-grey.fs--m.line-through 41.000đ
						.star-orders.d-flex.m-top-2
							.rating-star.m-right-2
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star.active
								i.icn.icn-shape-star
							span.num.color-base.fs--s (4.8)
.bl-module.module-grid-list
	a.heading(href="#!")
		span.fs--l.fw-medium Sản phẩm đã xem
		i.icn.icn-small-right
	ul.product-list.is-column-lite.is-lite
		li
			.item-product
				span.img-loader
		each productItem in product
			li(class=`${productItem.class}`)
				a.item-product(href="product_detail.html")
					span.img-product(style="background-image:url(http://via.placeholder.com/240x240)")
						.label-discount
							span.color-light.fs--m.fw-bold 20%
						.label-price
							span.color-light.fs--m.fw-bold 200.000đ

.button-dockbar
	.context-button-dockbar
		.position-relative.mr-auto
			.bubble-overlay
				p Shop đang trực tuyến, <br />Bạn đang thắc mắc về sản phẩm?
			a.func-chat(href="product_detail_chat.html")
				i.icn.icn-chat-round.is-online
		a.btn.btn-outline-primary.btn--m(href="cart.html") Mua ngay
		a.btn.btn-primary.btn--m(href="cart.html") Thêm vào giỏ
	// Truong hop chi co 1 chat
	.context-button-dockbar.hidden
		a.btn.btn-primary.btn--m.w-100.ml-auto(href="product_detail_chat.html") <i class="icn icn-chat-round is-online"></i>Chat với cửa hàng
	.trans-button-dockbar










